# Ignore everything: files and folders
* 

# But not these files...
!mlp.py
!cnn.py
!pretrained.py
!plots.py
!readme.md

# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
