# Ignore everything: files and folders
* 

# But not these files...
!.gitignore
!MLP.py
!CNN.py
!Trainer.py
!create_and_save_spectrograms.py

# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
